@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Livvic", sans-serif;

}

.background{
    position: relative;
        background-color: rgb(1, 78, 86);
        overflow: hidden;

.container{
    max-width: 1110px;
    margin: auto;
    padding-top: 73px;
    




a{
    text-decoration: none;
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0px;


&:hover
{
    color: blue;
    background-color: lightskyblue;
}
}
li{
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my_team{
    display: flex;
gap: 80px;
align-items: center;

}

ul{
    display: flex;
gap: 40px;
align-items: center;
}

.contact{
    box-sizing: border-box;
border: 2px solid rgb(255, 255, 255);
border-radius: 24px;
padding: 10px 33px;
}



.hero_con{
margin-top: 124px;
    display: flex;
    gap: 30px;
    position: relative;
    padding-bottom: 124px;
}

// Line

.line{
position: absolute;
width: 50px;
height: 4px;
left: 34.1%;
right: 93.15%;
top: -40px;
bottom: 97.44%;
background: rgb(246, 126, 126);
}

.navbar_p{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0px;
    width: 730px;
}

.about{
    
padding-bottom: 76px;
    width: 350px;
    color: rgb(255, 255, 255);
font-size: 64px;
font-weight: 700;
line-height: 100px;
letter-spacing: 0px;
padding-top: 0;
}


















}


/* Oval Copy 2 */

.oval{
    position: absolute;
    left: 95%;
    bottom: 0px;
}

}




.background_2{
    position: relative;
background-color: rgb(0, 64, 71);

.oval_2{
    right: 95%;
    position: absolute;
    }

.container{
    max-width: 1110px;
    margin: auto;



.p_18{
    color: rgb(121, 200, 199);
font-size: 18px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0px;
text-align: center;
}

.p_15{
    color: rgb(255, 255, 255);
font-size: 15px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
padding-bottom: 56px;
}

.p_48{
    padding-top: 140px;
    color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0px;
text-align: center;
}

.workers{
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
   padding-bottom: 140px;
}

.ceo{
align-items: center;
justify-content: center;
background-color: rgb(1, 47, 52);
position: relative;
}

.pic{
    padding: 32px 127px 16px 127px ;   
}

.circle{
    /* Oval */
position: absolute;
width: 56px;
height: 56px;
left: 147px;
right: -147px;
top: 230px;
}
.plus{
    position: absolute;
    left: 167px;
right: -147px;
top: 251px;
}

.coo{
    text-align: center;
    align-items: center;
}

.allan{
    padding-top: 35px;

    text-align: center;
    align-items: center;
}

.empower{
    width: 255px;
    margin: auto;
}

.logo_icon{
    padding-left: 145px;
  

}

.logo_se{
    padding-left: 5px;
}


}



}
.rec_line{
    position: absolute;
    right: 0;
    bottom: 0;
}







.background_3{
position: relative;
background-color: rgb(1, 47, 52);


.round{
    position: absolute;
    left: 0;
}
.lines{
    position: absolute;
    left: 0;
    top: 110px;
}

.combined{
    position: absolute;
    left: 0;
}


.container{
    max-width: 1110px;
    margin: auto;
   


    .clients{
        padding-top: 140px;
        color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0px;
text-align: center;
    }

.logos{
    padding-top: 70px;
padding-right: 165px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 80px;
 padding-bottom: 150px;
}



}


}


.background_4{
    position: relative;
    background-color: rgb(246, 126, 126);

.container{
    max-width: 1110px;
    margin: auto;

.ready{
    color: rgb(1, 47, 52);
font-size: 48px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0px;
padding-top: 79px;
padding-bottom: 79px;
}


.contact{
    background-color: rgb(246, 126, 126);
    border: 2px solid rgb(1, 47, 52);
    border-radius: 24px;
    
padding: 10px 33px;
color: rgb(1, 47, 52);
}

.red_back{
display: flex;
align-items: center;
justify-content: space-between;
gap: 260px;

}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0px;

&:hover{
    color: blueviolet;
    background-color: aqua;
}

}
}

}

.background_5{
    background-color: rgb(0, 37, 41);

    .container{
        max-width: 1110px;
    margin: auto;
   
    .last_r{
    padding-top: 48px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 48px;
    }
   
  .px_15{
font-family: "Livvic", sans-serif;

color: rgb(255, 255, 255);
font-size: 15px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0px;
  }

  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0px;


&:hover{
    color: blue;
}
}

.about{
    padding-left: 40px;
}


.face{
    padding-left: 150px;
    padding-right: 16px;
}
.pin{
    padding-right: 16px;

}

.copy{
    padding-top: 50px;
}




@media(max-width:1153px)
{

    header{
        gap: 100px;
    }
    .pic{
        width: 200px;
        
    }

    .jakarta{
        width: 120px;
    }

    
.face{
    padding-left: 100px;
    padding-right: 10px;
}


.workers{
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
   padding-bottom: 140px;
}

.last_r{
    gap: 10px;
}




}







    }




}












